# Build directories
build/
dist/

# Temporary files
*.tmp
*.log
*.bak
*.swp

# Enviroment files
.env

# debug information files
*.dwo

# test output & cache
Testing/
.cache/

# Node files
node_modules/
package-lock.json
nodesource_setup.sh

# Prisma
srcs/backend/generated/prisma
