# Build directories
build/

# Temporary files
*.tmp
*.log
*.bak
*.swp

# Enviroment files
.env

# debug information files
*.dwo

# test output & cache
Testing/
.cache/

node_modules/
package-lock.json